.container {

    width: 100%;
    display: block;
    background-color: yellow;
}

.inputbox {
    width: 80%;
    height: 10vh;
    font-size: xx-large;
}

.btn-container {
    width: 80%;
}

.btn {
    font-size: larger;
    width: 24.5%;
    height: 10vh;
    margin: 1px;
    padding: 2px;
}